<div id="header">
	<TMPL_IF NAME="LOGGEDIN">
		<div id="loggedin"> 
			<a href="#" id="logoutlink">Log Out</a> | <a href="#" id="createdeck">Create a Deck</a><br />
			Logged in <TMPL_VAR NAME=USERNAME>, get crackin'!
			
			<div id="createdeck">
				<a href="html/CreateADeck.html">Create a Deck</a>
			</div>
		</div>	
	<TMPL_ELSE>
		<div id="guest">
			<a href="#" id="loginlink">Login</a> | <a href="#" id="registerlink">Register</a>
			<br /><br />
			<div id="loginmodal">
				<fieldset>
					Username: <input type="text" name="gs_username" id="gs_username" /><br />
					Password: <input type="password" name="gs_password" id="gs_password" /><br />
					<input type="button" name="gs_validate_user" onClick="LogIn(true, $('#result'))" value="Log In"/>
				</fieldset>
			</div>
			<div id="registermodal">
				<fieldset>
					Username: <input type="text" name="gs_username" id="gs_reg_username" /><br />
					Password: <input type="password" name="gs_password" id="gs_reg_password" /><br />
					Email: <input type="text" name="gs_email" id="gs_reg_email" /><br />
					Firstname: <input type="text" name="gs_firstname" id="gs_reg_firstname" /><br />
					Lastname: <input type="text" name="gs_lastname" id="gs_reg_lastname" /><br />
					<input type="button" name="gs_validate_user" onClick="RegisterUser(true, $('#result'))" value="Register"/>
				</fieldset>
			</div>
		</div>
	</TMPL_IF>
</div>